@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html {
  @apply scroll-pt-24 scroll-smooth font-serif no-scrollbar;
}

.section {
  @apply flex text-center h-screen;
}

.sectionTitle {
  @apply m-auto text-7xl text-white;
}
